<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667223818755-khb70t392cbfjsgtqfvr8p3u0mm84dlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667223818755-khb70t392cbfjsgtqfvr8p3u0mm84dlu</string>
	<key>API_KEY</key>
	<string>AIzaSyDEqFZqrFPxPbtGWWxYacVx_nEADuAgWHk</string>
	<key>GCM_SENDER_ID</key>
	<string>667223818755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ADA.TakeTech.sa</string>
	<key>PROJECT_ID</key>
	<string>taketech-6b512</string>
	<key>STORAGE_BUCKET</key>
	<string>taketech-6b512.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667223818755:ios:1c62db82b2d4f751460436</string>
</dict>
</plist>